<section
class="w-screen px-6 sm:px-8 lg:flex lg:w-full lg:items-center lg:justify-between lg:gap-12">
<div class="relative overflow-hidden lg:w-1/2 image-container-r2l">
    <img :src="modal.cover" class="image">
    <div class="mask-r2l"></div>
</div>
<div class="relative overflow-y-scroll lg:w-1/2">
    <div class="h-8 lg:h-1"></div>
    <h2 class="font-display font-extrabold  pb-2  text-center lg:text-left">
        <span class="text-white-300 text-6xl xl:text-7xl">{{modal.songname}}</span>
        <div>
            <div class="h-3"></div>
        </div>
    </h2>
    <div class="h-3"></div>
    <h3
        class="font-display text-lg xl:text-xl font-extrabold text-orange-100 leading-4 text-center lg:text-left">
        <template v-for="(artist, index) in modal.artists">
            <a class="artistlink" :href="'https://music.163.com/#/artist?id='+artist.trueid"
                :data-trueid="artist.trueid">
                {{artist.name}}
            </a>{{index+1 != modal.artists.length?' / ':''}}
        </template>
    </h3>
    <div class="h-4"></div>
    <p class="text-base text-gray-300 text-center lg:text-left" style="white-space: pre-wrap;">
        {{modal.desc}}</p>
    <!-- <div class="mask-l2r mask-b2t"></div> -->
    <div class="h-12">
        <div class="xl: flex flex-col gap-4 xl:flex-row justify-center mb-4">
            <template v-if="modal.audioshow" v-for="(au, i) in modal.audios">
                <!-- <audio controls :src="au.src"></audio> -->
                <component :is='player' :songName="au.songname" :songPath="au.src" :songid="i" :songArts="au.artists"></component>
            </template>
        </div>
    </div>
</div>
</section>