<link rel="stylesheet" href="/css/chat.css">
<div class="container-fluid" style="overflow-y: scroll;">
    <div class="fixed-top h-100 d-flex justify-content-center align-items-center chatload">
        <div class="spinner-border spinner-border-xl text-primary p-3" role="status">
        </div>
        <span class="ps-3">正在连接，若长时间未响应请联系管理员</span>
    </div>
    <div class="row justify-content-center align-items-center g-2 p-2 ">
        <div class="col-md-10 col-sm-12 mt-4 pt-4 chatMsgContainer">
            <!-- <div class="row justify-content-center align-items-center g-2 mb-3 msgRow">
                <div class="col-12">
                    <div class="msgBox msg-l ps-1 pe-1 m-2">
                        <div class="msg-own mt-1 mb-2">
                            <div class="msg-image">
                                <img class="" src="/uploads/uid_31284538-a29d-2de3-e472-a24b49e7d86d.png" alt="">
                            </div>
                            <span class="msg-name">VirtualZone</span>
                        </div>
                        <div class="msg-body">
                            <span>一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center g-2 mb-3 msgRow">
                <div class="col-12">
                    <div class="msgBox msg-r  ps-1 pe-1 m-2">
                        <div class="msg-own mt-1 mb-2">
                            <div class="msg-image">
                                <img class="" src="/uploads/uid_31284538-a29d-2de3-e472-a24b49e7d86d.png" alt="">
                            </div>
                            <span class="msg-name">VirtualZone</span>
                        </div>
                        <div class="msg-body">
                            <div class="msg-text">
                            <span>一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息一条消息</span></div>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
        <!-- <div class="col-md-6">Column</div> -->
        <!-- <div class="col">Column</div> -->
        <div class="fixed-bottom p-3 bigInputBox">
            <div class="container">
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col-md-10">
                        <textarea class="form-control" name="mTxt" id="mTxt" cols="30" rows="1"
                            aria-label="Message Text"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-dark w-100 send">发送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/src/chat.js">
</script>
<!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" data-alert-queue="0">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>消息发送失败！请稍后再试</strong>
</div> -->
