@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
/*@keyframes shake {
    10%, 90% { transform: translate3d(-0.1px, -0.2px, 0); }
    20%, 80% { transform: translate3d(+0.2px, 0.1px, 0); }
    30%, 70% { transform: translate3d(-0.4px, -0.2px, 0); }
    40%, 60% { transform: translate3d(+0.4px, 0.2px, 0); }
    50% { transform: translate3d(-0.4px, -0.2px, 0); }
}*/

@keyframes horizontal {
    from { 
        transform: translateX(0vw);
    }
    to { 
        transform: translateX(1vw);
    }
}

@keyframes vertical {
    from { 
        transform: translateY(0vh);
    }
    to { 
        transform: translateY(1vh);
    }
}

:root {
    --primary-color: #4460f1;
    --white-color: #ffffff;

    --light-text-color: #9398b3;
    --light-bg-color: #f2f4ff;
    --dark-color: #333333;

    --background-color: #fcfcff;
}

* :not(body,html){
    transition: all 0.4s;
    margin: 0;
    padding: 0;
    animation: 
        horizontal 26s infinite ease alternate,
        vertical 19s infinite alternate ease;
}

*, ::before::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans SC', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.8!important;
    color: var(--dark-color)!important;
    background-color: var(--background-color)!important;
    -webkit-user-select: none!important;
    -webkit-user-drag: none!important;
}
form input {
    font: inherit;
    font-size: 14px;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0 20px;
    line-height: 60px;
    border-radius: 10px;
    box-sizing: border-box;
}
