<section class="dashboard">
    <div class="container dash-content">
        <section>
            <div class="container">
                <div class="row justify-content-center align-items-center g-2 passagesContainer">

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="mb-3 row">
                    <legend class="col-form-legend  col-md-4 col-sm-1">标题</legend>
                    <div class=" col-md-8 col-sm-1">
                        <input type="text" class="form-control" name="title" id="title" placeholder="标题" value="">
                        <p class="text-muted">tip：更新、发布、事件···</p>
                    </div>
                </div>
                <fieldset class="mb-3 row">
                    <legend class="col-form-legend col-md-4 col-sm-12 mb-3">
                        <span class="mb-3">内容</span>
                        <br>
                        <!-- <div class="mb-3 row"> -->
                        <!-- <div class="offset-sm-4 col-sm-8"> -->
                        <button type="button" class="submit btn btn-outline-dark mb-3 me-2">发布</button>
                        <button type="button" class="append btn btn-outline-dark mb-3 me-2">追加段落</button>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="pub" id="pub" name="pub" aria-label="Public
                        ">
                            <label class="form-check-label" for="pub">
                                公告
                            </label>
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                    </legend>
                    <div class="col-md-8 col-sm-12">
                        <div class="mb-3 paragraphs">
                            <textarea class="form-control mb-3 cont" data-inputId="0" name="cont" rows="3"
                                aria-label="段落">段落0</textarea>
                            <a class="closeTextArea" data-close="0">&times;</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </div>
</section>
<script>
    jsLoader("bs/broadcast/broadcast.js","/app/model/js/bs/broadcast/getPassage.js");
    </script>
<script>
    $(document).on('shown.bs.modal', function (event) {
        // setTimeout(() => {
        var counts = 1;
        var t = setInterval(() => {
            $(".modal-content").css("box-shadow", `0px 0px ${counts}px 0px rgba(0, 0, 0, 0.5)`)
            counts++;
            if (counts > 100) { clearInterval(t) }
        }, 1);
        // },0);
        $('#passageModal').find(".comments").css("opacity", "1")
    })



    $(document).on('hidden.bs.modal', function (event) {
        $(".modal-content").css("box-shadow", `0px 0px 0px 0px rgba(0, 0, 0, 0.5)`)


        // alert("1")
    })
</script>
<style>
    .card {
        border: 0;
        transition: all 0.4s;
        /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1); */
    }

    .passagesContainer .card:hover,
    .card:focus {
        border: 0.4px, #000000 !important;
        transform: scale(1.05) !important;
        box-shadow: 0px 16px 21px -8px rgba(0, 0, 0, 0.3) !important;

    }

    .card:hover~* {
        transform: scale(1.05);
        filter: blur(20px);
    }

    .modal-content {
        border: 0;

    }

    .logo-name {
        display: flex;
        align-items: center;
    }

    .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;
    }

    .logo-image img {
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    .logo-name .logo_name {
        font-size: 22px;
        font-weight: 600;
        color: var(--text-color);
        margin-left: 14px;
        transition: var(--tran-05);
    }
</style>
<div class="modal fade" id="passageModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="passageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pmt">

                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pmb">

            </div>
            <div class="p-0 modal-footer pmf justify-content-start">

            </div>
            <div class="modal-body">
                <div class="logo-name comments p-3 ps-2" style="opacity:0;justify-content: space-between;">
                    <span>评论：</span>
                    <button type="button" class="btn btn-outline-dark">评论</button>
                </div>
                <div class="container-fluid commentsContainer">
                    <div class="row ms-3">
                        <!-- ========== Start comment ========== -->
                        <div class="logo-name mb-1" data-commenter="commenter" data-commenterId="" data-commenterId="">
                            <div class="logo-image commenter">
                                <img src="/uploads/uid_31284538-a29d-2de3-e472-a24b49e7d86d.png" alt="" id=""
                                    class="commenter-avatar">
                            </div>
                            <span class="logo_name commenter-name pe-3 d-none d-md-flex"
                                id="">VirtualZone</span>&nbsp;&nbsp;&nbsp;
                            <span class="logo_uid pe-3 d-none d-md-flex commenter-id">UID: 2</span>
                        </div>
                        <blockquote class="blockquote ms-2 mb-1 p-1">
                            暂未开放评论功能，敬请期待！
                        </blockquote>
                        <!-- ========== End comment ========== -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>