<section class="dashboard">
        <div class="container dash-content">
                <div class="row justify-content-center align-items-center g-2 membersContainer">
                </div>
        </div>
</section>

<div class="modal fade" id="memberModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
        aria-labelledby="memberModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title pmt">
                                    用户信息
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                        </div>
                        <div class="modal-body pmb">

                        </div>
                        <div class="p-0 modal-footer pmf justify-content-start">

                        </div>
                </div>
        </div>
</div>
<script>
    jsLoader("members/members.js")
</script>
<script>
        $(document).on('shown.bs.modal', function (event) {
            // setTimeout(() => {
                var counts =1;
                var t = setInterval(() => {
                    $(".modal-content").css("box-shadow",`0px 0px ${counts}px 0px rgba(0, 0, 0, 0.5)`)
                    counts++;
                    if (counts > 100) {clearInterval(t)}
                }, 1);
            // },0);
            $('#memberModal').find(".comments").css("opacity", "1")
        })
    
    
    
        $(document).on('hidden.bs.modal', function (event) {
            $(".modal-content").css("box-shadow",`0px 0px 0px 0px rgba(0, 0, 0, 0.5)`)
    
                        
            // alert("1")
        })
    </script>
<style>
        .card {
            border: 0;
            transition: all 0.4s;
            /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1); */
        }
    
        .passagesContainer .card:hover,
        .card:focus {
            border: 0.4px, #000000 !important;
            transform: scale(1.05) !important;
            box-shadow: 0px 16px 21px -8px rgba(0, 0, 0, 0.3) !important;
    
        }
        .modal-content {
            border: 0;
    
        }
    
        .logo-name {
            display: flex;
            align-items: center;
        }
    
        .logo-image {
            display: flex;
            justify-content: center;
            min-width: 45px;
        }
    
        .logo-image img {
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    
        .logo-name .logo_name {
            font-size: 22px;
            font-weight: 600;
            color: var(--text-color);
            margin-left: 14px;
            transition: var(--tran-05);
        }
    </style>